.logo {
    width: 138px;
    height: 24px;
}

.logo__link {
    max-width: 138px;
    max-height: 24px;
}

.logo__color_type_main {
    fill: white;
}

.logo__color_type_saved-news {
    fill: rgba(26, 27, 34, 1);
}

@media all and (max-width: 570px) {
    .logo {
        transform: scale(0.85);
        transform-origin: left;
    }

    .logo__link {
        max-width: 117px;
        max-height: 24px;
    }
}