.search-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px;
    color: white;
}

.search-form__title {
    font-family: 'Roboto-slab', Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.07;
    margin: 0 0 32px;
    padding: 0;
    max-width: 545px;
}

.search-form__subtitle {
    font-size: 18px;
    line-height: 1.33;
    margin: 0 0 64px;
    padding: 0;
    max-width: 545px;
}

.search-form__input {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #1A1B22;
    box-sizing: border-box;
    padding: 20px 40px 20px 24px;
    min-width: 440px;
    background-color: #FFFFFF;
    border: 1px solid #D1D2D6;
    border-right: transparent;
    backdrop-filter: blur(8px);
    border-radius: 50px 0 0 50px;
}

.search-form__cover {
    position: relative;
}

.search-form__cover::after {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    top: 2px;
    right: 139px;
    min-width: 29px;
    min-height: 62px;
    border-top: 1px solid #D1D2D6;
    border-bottom: 1px solid #D1D2D6;
}

.search-form__submit {
    position: relative;
    top: 2px;
    right: 0;
    z-index: 2;
    background: #2F71E5;
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    padding: 20.5px 53px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    line-height: 1.33;
    cursor: pointer;
}

.search-form__submit:hover {
    background: #347EFF;
}

.search-form__submit:active {
    background: #2A65CC;
}

.search-form__submit:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2F71E5;
}

::-webkit-input-placeholder {
    color: rgba(182, 188, 191, 1);
}

::-moz-placeholder {
    color: rgba(182, 188, 191, 1);
}
:-moz-placeholder {
    color: rgba(182, 188, 191, 1);
}

:-ms-input-placeholder {
    color: rgba(182, 188, 191, 1);
}

@media screen and (max-width: 800px) {
    .search-form {
        padding: 38px 40px 48px;
    }

    .search-form__title {
        font-size: 36px;
        line-height: 1.11;
        margin: 0 0 16px;
        max-width: 400px;
    }

    .search-form__subtitle {
        margin: 0 0 48px;
        padding: 0;
        max-width: 420px;
    }

    .search-form__input {
        padding: 16px 40px 16px 24px;
        min-width: 292px;
    }

    .search-form__cover::after {
        top: 1px;
        right: 137px;
        min-width: 27px;
        min-height: 54px;
    }

    .search-form__submit {
        top: 1px;
        padding: 16px 49.5px 17px;
    }
}