.preloader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F6F7;
    padding: 80px 104px;
}

.preloader__circle {
    animation: rotate .75s infinite linear;
    border-radius: 50%;
    height: 74px;
    width: 74px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.preloader__circle:before,
.preloader__circle:after {
    content: '';
    position: absolute;
}

.preloader__circle:before {
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(26, 27, 34, 1) 50%, rgba(26, 27, 34, 0.75) 100%) 0 0,
    linear-gradient(90deg, rgba(26, 27, 34, 0.75) 0%, rgba(26, 27, 34, 0.5) 100%) 100% 0,
    linear-gradient(180deg, rgba(26, 27, 34, 0.5) 0%, rgba(26, 27, 34, 0.25) 100%) 100% 100%,
    linear-gradient(360deg, rgba(26, 27, 34, 0.25) 0%, rgba(26, 27, 34, 0) 100%) 0 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.preloader__circle:after {
    background: #F5F6F7;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes rotate {
    100% { transform: rotate(-360deg); }
}

.preloader__title {
    color: rgba(182, 188, 191, 1);
}

@media all and (max-width: 780px) {
    .preloader {
        padding: 40px;
    }

    .preloader__circle {
        height: 50px;
        width: 50px;
    }
}