.mark-cart__button {
    position: absolute;
    background-image: url('../../images/trash.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    top: 24px;
    right: 24px;
    border: none;
    width: 40px;
    height: 40px;
}

.mark-cart__message {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    top: 24px;
    right: 69px;
    padding: 13px 12px;
}

.mark-cart__button:hover {
    background-image: url('../../images/trash-hover.svg');
}

.mark-cart__button:hover + .mark-cart__message {
    display: block;
}

.mark-cart__button:active {
    background-image: url('../../images/trash-active.svg');
}

.mark-cart__button:active + .mark-cart__message {
    display: none;
}

@media all and (max-width: 780px) {
    .mark-cart__button {
        top: 8px;
        right: 8px;
    }

    .mark-cart__message {
        top: 54px;
        right: 8px;
    }
}

@media all and (max-width: 570px) {
    .mark-cart__button {
        top: 16px;
        right: 16px;
    }

    .mark-cart__message {
        top: 60px;
        right: 16px;
    }
}