.mark-cart {
    position: absolute;
    top: 24px;
    right: 24px;
    max-width: 40px;
    max-height: 40px;
}

.mark-cart__message {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    top: 24px;
    right: 69px;
    padding: 13px 12px;
}

.mark-cart:hover .mark-cart__color {
    fill: #1A1B22;
}

.mark-cart:hover + .mark-cart__message {
    display: block;
}

.mark-cart:active .mark-cart__color {
    fill: #2F71E5;
}

.mark-cart:active + .mark-cart__message {
    display: none;
}