.footer__navigation {
    display: flex;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 270px;
    margin: 0;
    padding: 0;
}

.footer__nav-link {
    color: rgba(26, 27, 34, 1);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.33;
}
