.mark-button {
    position: absolute;
    top: 24px;
    right: 24px;
    max-width: 40px;
    max-height: 40px;
}

.mark-button__message {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    top: 24px;
    right: 69px;
    padding: 14px 12px;
}

.mark-button:hover .mark-button__color {
    stroke: #1A1B22;
}

.mark-button:hover + .mark-button__message {
    display: block;
}

.mark-button:active .mark-button__color {
    stroke: #2F71E5;
    fill: #2F71E5;
}

.mark-button:active + .mark-button__message {
    display: none;
}

@media screen and (max-width: 780px) {
    .mark-button {
        top: 8px;
        right: 8px;
    }

    .mark-button__message {
        top: 54px;
        right: 8px;
    }
}